<h1>{{ title }}</h1>

<ul>
    {{#each users}}
        <li>
                {{ num }} / {{ name }} / {{ grade }} / {{ major }} / {{ admission_date }} 
                {{ admission_time }} GMT+0900 (대한민국 표준시) / {{ email }} 
            </a>
        </li>
    {{/each}}
</ul>